unset C_INCLUDE_PATH
unset CPLUS_INCLUDE_PATH

# direnv will reload env when these files change
watch_file channels-lock.scm manifest.scm

guix_profile=$(guix time-machine -C channels-lock.scm)

# use Guix from locked channels for full independence from guix pull profile
# (after initial guix time-machine call)
PATH_add "$guix_profile"/bin

# This is now the locked Guix via the preceding PATH_add. Add Guix dependencies
# to load paths so the Guile repl works.
eval "$(guix shell -L . --search-paths)"

# prepend modules from locked channels
path_add GUILE_LOAD_PATH "$guix_profile"/share/guile/site/3.0
path_add GUILE_LOAD_COMPILED_PATH "$guix_profile"/lib/guile/3.0/site-ccache
